@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

li, a, button{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    background: #24252A;

}

header .logo{
    cursor: pointer;
    margin-right: auto;
    display: flex;
}

.logo .brand{
    font-size: 30px;
    font-weight: 500;
}

header .nav__links{
    list-style: none;
}

header .nav__links li{
    margin: 5px;
    padding: 5px 20px;
    display: inline-block;
    transition: all 0.3s ease;
}

header .nav__links li:hover{
    background: #0088a9;
    border-radius: 50px;
}

header .cta button{
    padding: 5px 20px;
    margin: 0 10px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}

header .cta button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}